body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

#center {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#window {
  position: relative;
  width: 100vw;
  height: 100vw;
  max-width: 100vh;
  max-height: 100vh;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
  position: absolute;

  animation-duration: 1s;
  animation-name: functional;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes functional {
  from {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  to {
    width: 200%;
    height: 200%;
    top: -100%;
    left: -100%;
  }
}
