html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: monospace;
  background: black;
}

iframe {
  width: 50vw;
  height: 50vw;
  max-width: 50vh;
  max-height: 50vh;
  margin: 0;
  padding: 0;
  border: none;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);

  font-size: 25vh;
  line-height: 50vh;
  text-align: center;
}

#container > div:last-child {
  background: transparent;
}
